doctype html
html
    head
        title=title
        link(rel='icon', type='image/png', href='/images/favicon.ico')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='javascript', href='/js/main.js')
        script.
            function fixedEncodeURIComponent(str){
                 return encodeURIComponent(str).replace(/[!'()]/g, escape).replace(/\*/g, "%2A");
            }
            function finalizeLogin() {

                window.location.href = 'http://#{ referer }#auth' + '/' + fixedEncodeURIComponent('#{ user.token }');
                return;

            }
    body(onload='finalizeLogin()')
        div#loading-mask