doctype html
html
  head
    meta(name="google-site-verification", content="syxS55aQNVUj8u-S84pyQvbW4f4NSeQ_IIIMGPjeIXc")
    title= title
    link(rel='icon', type='image/png', href='/images/favicon.ico')
  body(onload="changeBackground();")
    block content
    div#loading-mask(data-adaptive-background='1', data-ab-css-background='1')
