doctype html
html
  head
    // Name of web application (only should be used if the website is used as an app)
    meta(name='application-name', content='Gugamarket')
    // Short description of the page (limit to 150 characters)
    // In *some* situations this description is used as a part of the snippet shown in the search results.
    meta(name='keywords', content='REST, NodeJS, Framework, Open source, NodeJS REST Framework')
    meta(name='description', content='Gugamarket is a NodeJS REST API Framework licensed under MIT. Gugamarket is Openshift V3 friendly.')
    meta(name="google-site-verification", content="syxS55aQNVUj8u-S84pyQvbW4f4NSeQ_IIIMGPjeIXc")
    title= title
    link(rel='icon', type='image/png', href='/images/favicon.ico')
  body(onload="changeBackground();")
    block content
    div#loading-mask(data-adaptive-background='1', data-ab-css-background='1')
